
//anidacion

//index

body{
	background-image: url(../img/fondo.webp);
	background-size: cover;
    background-attachment: fixed;
}

//MIXIN

div h1{
    @include text(6rem, $firstFont, center )
}

@keyframes textTitulo{
	from{opacity: 0;}
	to{opacity: 1;}
}

h2{
	font-family: $secondFont;
	font-size: 3rem;
}

.main{
    font-family: $firstFont;
    font-size: 1.3rem;
    color: black;
    line-height: 2 1;
    width: 50%;
    margin: 100px auto;
    padding: 3%;
    border:groove 10px #FFB35A;
    box-shadow: 1px 3px 1px 3px;
    @extend .letra 
}





  //contactame

section article form{

    margin-left: 25px;
    padding: 25px;
       div{
        margin-bottom: 5px;
    
        }
        .casillero{
            padding: 5px;
            border: solid beige;
            margin-bottom: 5px;
        }
        
        .boton{
            font-size: 20px;
            border: solid beige;
        }
        
        .label{
            width: 300px;
            height: 300px;
        }
   }
   
   
    #content{
     display:grid;
       
   }
   



//publicaciones

  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
  }
  
  .card {
    margin-top: 80px;
    box-shadow: 10px 10px 10px 10px;

  }

  .card-color {
    color: #FFB35A;
    font-size: 25px;
    text-decoration: none;

  }


//Contactame

.letra :first-letter{
	
    font-size: 3rem;
	padding: 3px;
	font-family: 'Joan', serif; 
	font-weight: bold;
   }

   .mail {
    text-align: center;
    text-decoration: double;
    font-size: 1.2rem;
    font-family: $firstFont;
}

//EXTENDED

.txtMain{
     @extend .main
}
