//anidacion

.tituloTabla{
	font-size: 2.5rem;
    margin-left: 20px;
	margin-top: 20px;
	font-weight: bold;
	font-style: italic;
}


#Tabla{
	font-family: $secondFont;
	font-weight: bold;
	font-size: 1.2rem;
	margin-bottom: 100px;
	margin-top: 100px;
	
}


